<!doctype html>
<html xmlns:ng="http://angularjs.org" class="ng-app" ng-app="five" lang="zh_CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/angular-csp.css" rel="stylesheet">
    <link href="css/index.min.css" rel="stylesheet" media="screen">
    <link href="css/print.min.css" rel="stylesheet" media="print">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <!--[if lte IE 8]><script src="js/json2.min.js"></script>
      <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
 
        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script><![endif]-->
    <script src="js/angular.js"></script>
    <title>五行性理测试</title>
  </head>
  <body>
    <div class="container" ng-controller="FiveCtrl">
      <div class="hero-unit" ng-show="p.type == START">
        <h1>五行性理测试</h1>
        <p>根据王善人凤仪公的《性理集成》测试五行性理</p>
        <div class="context"></div>
        <div class="btn-group pull-right">
          <button class="btn btn-primary btn-large" ng-click="num = 1">
            <i class="fa fa-play"></i>
            测试开始
          </button>
        </div>
      </div>
      <div class="hero-unit ng-hide" ng-hide="p.type == END || p.type == START">
        <h1><span ng-show="p.type != INPUT">{{ name }}</span>{{ p.title }}</h1>
        <p>{{ p.p }}</p>
        <div ng-show="p.type == INPUT" class="row context">
          <form name="f_name">
            <input type="text" name="name" maxlength="200" placeholder="请输入..." id="i_name" ng-maxlength="200" ng-minlength="1" ng-model="name" required="">
            <div ng-show="error">
              <div class="alert alert-error" ng-show="f_name.name.$error.required">
                <i class="fa fa-exclamation-triangle"></i>
                必填
              </div>
            </div>
          </form>
        </div>
        <div ng-show="p.type == CHECK" class="row context">
            <div class="span2" ng-repeat="i in page[num].items">
              <label class="checkbox">
                <input type="checkbox" ng-model="i.s">
                {{ i.l }}
              </label>
            </div>
        </div>
        <div ng-show="p.type == SELECT" class="row context">
            <div class="span3" ng-repeat="i in page[num].items">
              <label class="radio">
                <input type="radio" ng-model="page[num].value" value="{{ i }}">
                {{ i }}
              </label>
            </div>
          <div ng-show="error">
            <div class="alert alert-error">
              <i class="fa fa-exclamation-triangle"></i>
              必选
            </div>
          </div>
        </div>
        <div class="btn-group pull-right">
          <button class="btn btn-large btn-primary pull-right" ng-click="next()">
            <i class="fa fa-angle-double-right"></i>
            继续
          </button>
          <button class="btn btn-large pull-right" ng-click="prev()">
            <i class="fa fa-angle-double-left"></i>
            返回
          </button>
        </div>
      </div>
      <div class="ng-hide" ng-show="p.type == END">
        <div id="container" class="pull-right" style="min-width: 500px; max-width: 580px; height: 520px; margin: 0 auto"></div>
        <h2>姓名</h2>
        {{ name }}
        <h2>性别</h2>
        {{ page[2].value }}
        <h2>五行</h2>
        {{ items[0][0] }}性偏{{ items[1][0] }}
        <div>
          <h2>{{ items[0][0] }}性人</h2>
          <h3>阳{{ items[0][0] }}</h3>
          <p ng-repeat="p in REPORT[items[0][0]].t">{{ p }}</p>
          <h3>阴{{ items[0][0] }}</h3>
          <p ng-repeat="p in REPORT[items[0][0]].f">{{ p }}</p>
          <h3>治病</h3>
          <p ng-repeat="p in REPORT[items[0][0]].g">{{ p }}</p>
          <div ng-show="yun">
            <h3>{{ items[0][0] }}{{yun.y}}{{ items[1][0]}}</h3>
            <p>{{ yun.p }}</p>
          </div>
        </div>
        <button class="btn btn-success btn-large pull-right" ng-click="init()">
          <i class="fa fa-reply"></i>
          重新开始
        </button>
        <button class="btn btn-info btn-large pull-right" ng-click="print()">
          <i class="fa fa-print"></i>
          打印
        </button>
      </div>
    </div>
    <div class="footer">
      <a href="http://www.wtb21.com/" target="_blank">
        乌托邦21世纪——中国梦<br>
        http://www.wtb21.com/
      </a>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="js/highcharts-more.js"></script>
    <script src="js/index.min.js"></script>
    <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
  </body>
</html>