<!DOCTYPE html>
<html manifest="manifest.appcache" ng-app="five" data-ng-csp>
  <head>
    <meta charset="utf-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/angular-csp.css" rel="stylesheet"/>
    <link href="css/index.min.css" rel="stylesheet"/>

    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <title>五行性理测试</title>
  </head>
  <body>
    <div class="container" ng-controller="FiveCtrl">
      <div class="hero-unit" ng-show="p.type == START">
        <h1>五行性理测试</h1>
        <p>根据王善人凤仪公的《性理集成》测试五行性理</p>
        <div class="btn-group pull-right">
          <button class="btn btn-primary btn-large" ng-click="num = 1">测试开始</button>
        </div><!-- btn-group -->
      </div><!-- START -->
      <div class="hero-unit" ng-hide="p.type == END || p.type == START">
        <h1><span ng-show="p.type == CHECK">{{ name }}</span>{{ p.title }}</h1>
        <p>{{ p.p }}</p>
        <div ng-show="p.type == INPUT">
          <form name="f_name">
            <input type="text" name="name" maxlength="200" placeholder="请输入..." id="i_name"
             ng-maxlength="200" ng-minlength="1" ng-model="name" required/>
            <div ng-show="error">
              <div class="alert alert-error"  ng-show="f_name.name.$error.required">必填</div>
            </div>
          </form>
        </div>
        <div ng-show="p.type == CHECK">
          <button type="button" class="btn btn-info" ng-model="i.s" btn-checkbox ng-repeat="i in page[num].items">
            {{ i.l }}
          </button>
        </div><!-- CHECK -->
        <div ng-show="p.type == SELECT">
            <button type="button" class="btn btn-info" ng-model="page[num].value" btn-radio="i" ng-repeat="i in page[num].items">
              {{ i }}
            </button>
            <div ng-show="error">
              <div class="alert alert-error">必选</div>
            </div><!-- error -->
        </div><!-- btn-group -->
        <div class="btn-group pull-right">
          <button class="btn btn-large pull-right" ng-click="prev()">返回</button>
          <button class="btn btn-large btn-primary pull-right" ng-click="next()">继续</button>
        </div><!-- btn-group -->
      </div><!-- hero-unit -->
      <div ng-show="p.type == END">
        <div id="container" style="min-width: 410px; max-width: 500px; height: 450px; margin: 0 auto"></div>
          <button class="btn btn-primary btn-large pull-right" ng-click="num = 0">重新开始</button>
      </div><!-- END -->
    </div><!-- container -->
    <div class="footer">
      <div class="container">
        乌托邦21世纪——中国梦
      </div><!-- container -->
    </div><!-- footer -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/js-utils.min.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="js/highcharts-more.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/chrome.min.js"></script>
    <script src="js/index.min.js"></script>
  </body>
</html>
